@using DataModels
@model Project

@{
    ViewBag.Title = "Project list";
}

<h2>Список проектов</h2>

<table class="table">
    <thead>
        <tr>
            <th data-field="name">Название проекта</th>
            <th data-field="status">Статус</th>
            <th data-field="code">Код</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Project item in ViewBag.Project)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Status.Name</td>
                    <td>@item.Code</td>
                </tr>
            }
        }
    </tbody>
</table>




